{% extends "base.html" %}
{% block content %}
    <h1>Hello, zookeeper</h1>
    <section>
        {% if data %}
            <table>
                <thead>
                    {% for col in data[0].keys() %}<th>{{ col }}</th>{% endfor %}
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for field in row %}<td>{{ field }}</td>{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}
{% endblock content %}
