{% extends 'base.html' %}
{% block head %}
  <title>Element Periodic Table Explorer</title>
{% endblock %}
{% block body %}
  <div class="container">
    <article>
      <h1>Welcome to the <b>Element Periodic Table Explorer</b> !</h1>
      <section class="section">
        <p>
          Use <code>/${atomic_number}</code> for detailed element information
        </p>
        <p>
          Use <a href="/table"><code>/table</code></a> for the whole element table
        </p>
      </section>
    </article>
  </div>
{% endblock %}
