{% extends 'base.html' %}
{% block head %}
  <title>The Element Perodic Table</title>
{% endblock %}
{% block body %}
  <div class="container">
    <h1>The Element Perodic Table</h1>
    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/0/03/Simple_Periodic_Table_Chart-blocks.svg" alt="unable to load image from wikipedia" />
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-fluid table-responsive">
          <thead>
            {% for key in data.1.keys() %}
              <th>{{ key }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for num, element in data.items() %}
              <tr>
                {% for key, value in element.items() %}
                  {% if key == 'Element' %}
                    <a href="/{{ value }}"><td>{{ value }}</td></a>
                  {% else %}
                    <td>{{ value }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
